.metadata
.settings
[Rr]elease
[Dd]ebug
.launch
.cproject
.mxproject
.vscode
.project
Drivers/code_generation/peripheralmap.cpp
Drivers/code_generation/pinmap.h
**/__pycache__
Drivers/code_generation/input
build
build*
Drivers/code_generation/test_dst/adc.c
Drivers/code_generation/test_dst/fdcan.c
Drivers/code_generation/test_dst/STM32G474RETX_FLASH.ld
Drivers/code_generation/test_src/adc.c
Drivers/code_generation/test_src/i2c2.c
Drivers/code_generation/test_src/i2c3.c
Drivers/code_generation/test_src/spi.c
Drivers/code_generation/test_src/STM32G474RETX_FLASH.ld
Drivers/code_generation/test_src/usart.c
Drivers/code_generation/test_src/i2c1.c
Drivers/code_generation/test_src/fdcan.c
Drivers/code_generation/test_dst/usart.c
Drivers/code_generation/test_dst/spi.c
Drivers/code_generation/test_dst/i2c.c
Drivers/code_generation/test_dst/startup_init.c
Drivers/code_generation/test_src/main.c
